<%- include("partials/header") -%>
    <div class="">
            <img src="img\imgbin_mobile-payment-mobile-phones-digital-wallet-png.png"class="titleimg"  alt="">

            <div class="" style="text-align:center; display : inline-block">
              <h1>Bank Prototype </h1>
              <p>Transfer Money , view all details </p>


            </div>
            <div class="btnClass">
              <button type="button" class="btn btn-primary btn-lg bg-dark">
                <a href="/transfer"class="nav-link">Transfer</a>
              </button>
              <button type="button" class="btn btn-secondary btn-lg bg-dark">
                  <a href="/transactions"class="nav-link">View Transactions</a>
              </button>
              <button type="button" class="btn btn-secondary btn-lg bg-dark">
                  <a href="/viewall"class="nav-link">View all users</a>
              </button>
              <button type="button" class="btn btn-secondary btn-lg bg-dark">
                  <a href="/viewone"class="nav-link">View user</a>
              </button>

            </div>
    </div>
<%- include("partials/footer");-%>
