<%- include("partials/header") -%>
       <div class=" text-black login">

         <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

           <form style="width: 23rem;" action="/login" method="post">

             <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">User</h3>
             <div class="form-outline mb-4">
               <input type="number" id="form2Example28" class="form-control form-control-lg" name="accountNo" value="">
               <label class="form-label" for="form2Example28">Account no</label>
             </div>
             <div class="form-outline mb-4">
               <input type="email" id="form2Example18" class="form-control form-control-lg" name="mail" value="" >
               <label class="form-label" for="form2Example18">Email </label>
             </div>
             <div class="pt-1 mb-4">
               <button class="btn btn-info btn-lg btn-block" type="submit">View</button>
             </div>
          </form>
         </div>
       </div>
<%- include("partials/footer");-%>
